body{
    margin:0;
    background-color: rgb(255,255,255);
    font-family: Arial,sans-serif;
}
.outer-box{
    height: 100vh;
    display: flex;
    justify-content:center;
    align-items:center;
    background-color:rgb(255,255,255);
}

.inner-login-box{
    width: 100%;
    max-width: 350px;
    padding:50px;
    box-shadow: 0px 4px 12px rgba(0,0,0,0.1);
    border-radius:15px;
    text-align:center;
    background-color:rgb(255,255,255);
    margin-top:10px;
    margin-bottom:10px;
}

.logo{
    height:60px;
    margin-bottom:15px;
}

h2{
    font-weight:500;
    margin-bottom:25px;
}

label{
    display:block;
    text-align:left;
    font-size: 15px;
    margin-bottom:8px;
    margin-top:16px;
}

input[type="email"],input[type="password"]{
    width:90%;
    font-size:17px;
    padding:12px;
    border:2px solid rgb(205,205,205);
    border-radius:8px;

}

.remember-me{
    display:flex;
    align-items:center;
    margin: 15px 0 15px 0;
}


.continue-button{
    width:100%;
    background-color:#0C66E4;
    color:white;
    border:none;
    padding:12px;
    font-size:18px;
    border-radius:8px;
    margin-top: 18px;
    cursor:pointer;
}

.continue-button:hover{
    background-color:#0A52C1;
}